<style>
#davi_theme{
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
</style>
<div id="davi_theme" data-shop="{{ shop.domain }}" data-customer_email="{{ customer.email }}">
<table id="quotes_table" style="display:none">
<tr>
    <th>S. no.</th>
    <th>Referrence Number</th>
    <th>Form Type</th>
    <th>Field Settings</th>
    <th>Shop</th>
    <th>Status</th>
    <th>Part Unit</th>
    <th>Price</th>
</tr>
<tbody id="quotes" style='text-align:center'>
</tbody>

</table>
</div>
<script>
  setTimeout(function(){

console.log(jQuery('#davi_theme').attr('data-customer_email'));
var shop = jQuery('#davi_theme').attr('data-shop');
var customer_email = jQuery('#davi_theme').attr('data-customer_email');
var data = {
  shop: shop,
  customer_email: customer_email,
};

fetch("/apps/sdta/get_quotes", {
    method: "POST",
    body: JSON.stringify(data),
    headers: {
        "Content-Type": "application/json",
    },
})
.then(function (response) {
    return response.json();
})
.then(function (response) {
    console.log(response);
    jQuery("#quotes").html(response);
    jQuery("#quotes_table").show();
})
}, 2000);

</script>