<style>
    #davi_theme{
        padding: 20px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css" integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" defer></script>
<div id="davi_theme" data-shop="{{ shop.domain }}" data-customer_email="{{ customer.email }}">
<table id="quotes_table" style="display:none">
<thead>
    <th>S. no.</th>
    <th>Referrence Number</th>
    <th>Form Type</th>
    {% comment %} <th>Field Settings</th> {% endcomment %}
    {% comment %} <th>Shop</th> {% endcomment %}
    <th>Status</th>
    {% comment %} <th>Part Unit</th> {% endcomment %}
    <th>Price</th>
    <th></th>
</thead>
<tbody id="quotes" style='text-align:center'>
</tbody>

</table>
</div>
<script>
  setTimeout(function(){

console.log(jQuery('#davi_theme').attr('data-customer_email'));
var shop = jQuery('#davi_theme').attr('data-shop');
var customer_email = jQuery('#davi_theme').attr('data-customer_email');
var data = {
  shop: shop,
  customer_email: customer_email,
};

fetch("/apps/sdta/get_quotes", {
    method: "POST",
    body: JSON.stringify(data),
    headers: {
        "Content-Type": "application/json",
    },
})
.then(function (response) {
    return response.json();
})
.then(function (response) {
    console.log(response);
    jQuery("#quotes").html(response);
    jQuery("#quotes_table").show();
    
    setTimeout(function(){
        jQuery("#quotes_table").DataTable();
    }, 2000);
})
}, 2000);

</script>